@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.form_item {
  margin-bottom: 1.5rem;
}

.form_item:last-child {
  margin-bottom: 0;
}

.switch_container {
  margin-bottom
}