<html lang='en'>
  <body>
    <h1 style='font-weight: bold;'>Reset password code</h1>
    <p>Hello {{name}},</p>
    <p>This is your confirmation code:
      <span style='font-weight: bold;'>{{code}}</span></p>
    <p>Please provide this code in forget password page to reset your password.
      process.</p>
  </body>
</html>