<html lang='en'>
  <body>
    <h1 style='font-weight: bold;'>Welcome to myCMS!</h1>
    <p>Hello {{name}},</p>
    <p>This is your confirmation code:
      <span style='font-weight: bold;'>{{code}}</span></p>
    <p>Please provide this code in sign up tab to complete the creating account process.</p>
    <p style="margin-top: 5%;">myCMS</p>
  </body>
</html>